In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/var/folders/25/82ztpk21087b258r7gs0n3m00000gn/T/ipykernel_18125/2259232837.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

We will use the "living planet index" for this dataset. Quoting directly from https://www.livingplanetindex.org/ : 
"The Living Planet Index (LPI) is a measure of the state of the world's biological diversity based on population trends of vertebrate species from terrestrial, freshwater and marine habitats. The LPI was adopted by the Convention of Biological Diversity (CBD) as an indicator of progress towards its 2011-2020 targets and can play an important role in monitoring progress towards the post-2020 goals and targets negotiated at COP15 this December."

We will try to predict the LPI based on co2 emissions, world population and world gdp.

In [2]:
# min and max year for the LPI in my dataset
min_year = 1970
max_year = 2018

In [3]:
df_co2 = pd.read_csv('time_series_data/annual-co2-emissions-per-country.csv')
df_co2 = df_co2[df_co2['Year'] >= min_year]
df_co2 = df_co2[df_co2['Year'] <= max_year]
df_co2_by_year = df_co2[df_co2['Entity'] == 'World']
df_co2_by_year = pd.DataFrame({
    'Year': df_co2_by_year['Year'],
    'co2': df_co2_by_year['Annual COâ‚‚ emissions'],
})
df_full = df_co2_by_year
df_full

       Year           co2
29989  1970  1.489816e+10
29990  1971  1.550279e+10
29991  1972  1.622344e+10
29992  1973  1.708350e+10
29993  1974  1.700938e+10
29994  1975  1.704998e+10
29995  1976  1.798524e+10
29996  1977  1.849465e+10
29997  1978  1.906396e+10
29998  1979  1.960300e+10
29999  1980  1.948244e+10
30000  1981  1.901695e+10
30001  1982  1.886537e+10
30002  1983  1.898590e+10
30003  1984  1.964173e+10
30004  1985  2.030513e+10
30005  1986  2.060752e+10
30006  1987  2.124578e+10
30007  1988  2.207738e+10
30008  1989  2.237897e+10
30009  1990  2.275270e+10
30010  1991  2.322948e+10
30011  1992  2.256720e+10
30012  1993  2.279835e+10
30013  1994  2.303478e+10
30014  1995  2.352449e+10
30015  1996  2.425016e+10
30016  1997  2.439595e+10
30017  1998  2.433094e+10
30018  1999  2.483350e+10
30019  2000  2.550129e+10
30020  2001  2.567493e+10
30021  2002  2.624829e+10
30022  2003  2.764865e+10
30023  2004  2.862019e+10
30024  2005  2.959210e+10
30025  2006  3.060577e+10
30026  2007  3.149974e+10
30027  2008  3.204190e+10
30028  2009  3.149326e+10
30029  2010  3.330633e+10
30030  2011  3.443647e+10
30031  2012  3.493545e+10
30032  2013  3.523247e+10
30033  2014  3.546620e+10
30034  2015  3.546321e+10
30035  2016  3.546003e+10
30036  2017  3.602546e+10
30037  2018  3.676694e+10

In [4]:
df_population = pd.read_csv('time_series_data/population.csv')
df_population = df_population[df_population['Year'] >= min_year]
df_population = df_population[df_population['Year'] <= max_year]
df_population_by_year = df_population[df_population['Entity'] == 'World']
df_population_by_year = pd.DataFrame({
    'Year': df_population_by_year['Year'],
    'population': df_population_by_year['Population (historical estimates)'],
})
df_full = pd.merge(df_full, df_population_by_year, on='Year')
df_full

    Year           co2  population
0   1970  1.489816e+10  3695390208
1   1971  1.550279e+10  3770163200
2   1972  1.622344e+10  3844800768
3   1973  1.708350e+10  3920251392
4   1974  1.700938e+10  3995516928
5   1975  1.704998e+10  4069437184
6   1976  1.798524e+10  4142505728
7   1977  1.849465e+10  4215772416
8   1978  1.906396e+10  4289657600
9   1979  1.960300e+10  4365582848
10  1980  1.948244e+10  4444007936
11  1981  1.901695e+10  4524627456
12  1982  1.886537e+10  4607984640
13  1983  1.898590e+10  4691884032
14  1984  1.964173e+10  4775836160
15  1985  2.030513e+10  4861730816
16  1986  2.060752e+10  4950063104
17  1987  2.124578e+10  5040984576
18  1988  2.207738e+10  5132294144
19  1989  2.237897e+10  5223704064
20  1990  2.275270e+10  5316175872
21  1991  2.322948e+10  5406245888
22  1992  2.256720e+10  5492686336
23  1993  2.279835e+10  5577433600
24  1994  2.303478e+10  5660727808
25  1995  2.352449e+10  5743219712
26  1996  2.425016e+10  5825145344
27  1997  2.439595e+10  5906481152
28  1998  2.433094e+10  5987312640
29  1999  2.483350e+10  6067758592
30  2000  2.550129e+10  6148898816
31  2001  2.567493e+10  6230747136
32  2002  2.624829e+10  6312407552
33  2003  2.764865e+10  6393898496
34  2004  2.862019e+10  6475751424
35  2005  2.959210e+10  6558176256
36  2006  3.060577e+10  6641416192
37  2007  3.149974e+10  6725948416
38  2008  3.204190e+10  6811597312
39  2009  3.149326e+10  6898306048
40  2010  3.330633e+10  6985603072
41  2011  3.443647e+10  7073125376
42  2012  3.493545e+10  7161697792
43  2013  3.523247e+10  7250593280
44  2014  3.546620e+10  7339013632
45  2015  3.546321e+10  7426597376
46  2016  3.546003e+10  7513474048
47  2017  3.602546e+10  7599822336
48  2018  3.676694e+10  7683789824

In [5]:
df_gdp_growth = pd.read_csv('time_series_data/yearly_gdp_growth.csv')
# assume no value for gdp represents 0
df_gdp_growth.fillna(0, inplace=True)
global_gdps = []
for year in range(min_year, max_year+1):
    global_gdps.append(df_gdp_growth[str(year)].mean())

df_full['gdp_growth'] = global_gdps
df_full

    Year           co2  population  gdp_growth
0   1970  1.489816e+10  3695390208    3.981530
1   1971  1.550279e+10  3770163200    3.116490
2   1972  1.622344e+10  3844800768    3.164753
3   1973  1.708350e+10  3920251392    2.977396
4   1974  1.700938e+10  3995516928    3.157240
5   1975  1.704998e+10  4069437184    1.693890
6   1976  1.798524e+10  4142505728    3.785169
7   1977  1.849465e+10  4215772416    2.854632
8   1978  1.906396e+10  4289657600    2.739368
9   1979  1.960300e+10  4365582848    2.671118
10  1980  1.948244e+10  4444007936    2.073621
11  1981  1.901695e+10  4524627456    1.998232
12  1982  1.886537e+10  4607984640    1.018661
13  1983  1.898590e+10  4691884032    1.016845
14  1984  1.964173e+10  4775836160    2.339331
15  1985  2.030513e+10  4861730816    2.227889
16  1986  2.060752e+10  4950063104    2.651671
17  1987  2.124578e+10  5040984576    2.831332
18  1988  2.207738e+10  5132294144    3.473896
19  1989  2.237897e+10  5223704064    2.358168
20  1990  2.275270e+10  5316175872    2.656883
21  1991  2.322948e+10  5406245888    1.164664
22  1992  2.256720e+10  5492686336    1.365652
23  1993  2.279835e+10  5577433600    1.654719
24  1994  2.303478e+10  5660727808    1.877803
25  1995  2.352449e+10  5743219712    3.304005
26  1996  2.425016e+10  5825145344    4.269228
27  1997  2.439595e+10  5906481152    4.415089
28  1998  2.433094e+10  5987312640    3.161031
29  1999  2.483350e+10  6067758592    2.932983
30  2000  2.550129e+10  6148898816    3.904229
31  2001  2.567493e+10  6230747136    3.058124
32  2002  2.624829e+10  6312407552    3.084690
33  2003  2.764865e+10  6393898496    3.709950
34  2004  2.862019e+10  6475751424    5.610932
35  2005  2.959210e+10  6558176256    4.751548
36  2006  3.060577e+10  6641416192    5.413091
37  2007  3.149974e+10  6725948416    5.399763
38  2008  3.204190e+10  6811597312    3.784527
39  2009  3.149326e+10  6898306048    0.064747
40  2010  3.330633e+10  6985603072    4.258915
41  2011  3.443647e+10  7073125376    3.481906
42  2012  3.493545e+10  7161697792    3.047989
43  2013  3.523247e+10  7250593280    2.981779
44  2014  3.546620e+10  7339013632    3.186935
45  2015  3.546321e+10  7426597376    2.596288
46  2016  3.546003e+10  7513474048    2.949289
47  2017  3.602546e+10  7599822336    3.096799
48  2018  3.676694e+10  7683789824    2.980206

In [6]:
df_lpi = pd.read_csv('time_series_data/global-living-planet-index.csv')
df_lpi = df_lpi[df_lpi['Entity'] == 'World']

lpis = list(df_lpi['Living Planet Index'])
lpis

[100.0,
 99.100274,
 97.929883,
 96.78284,
 95.34543,
 93.5558,
 91.48922,
 88.535243,
 85.68405,
 83.34747999999999,
 81.508094,
 79.83687499999999,
 77.281386,
 74.518186,
 71.832025,
 69.753116,
 68.125665,
 66.32249,
 64.5467,
 63.574344,
 62.68112,
 61.60914,
 60.11985,
 58.109295,
 56.2009,
 54.0361,
 53.04214,
 51.750076,
 50.466454000000006,
 48.66438,
 47.221538,
 45.67137,
 44.498393,
 43.515655,
 42.92783,
 42.203152,
 41.295153,
 40.142804,
 38.719392,
 36.877126,
 35.15315,
 33.44104,
 32.37109,
 31.738263,
 31.66902,
 31.627533000000003,
 31.14541,
 30.88527,
 30.897567]

In [7]:
df_full['lpi'] = lpis
df_full
df_full.to_csv('time_series_data/LPI_data.csv')